mixin rollTypeButton(attribute, classes, ariaLabel)
	div(class=classes)
		input(
			type="hidden"
			name=`attr_${attribute}_roll_type`
			value="1d20"
		)
		button(
			type="action"
			name=`act_${attribute}_roll_type`
			aria-labelledby= ariaLabel
		)

mixin storedValue(name, initialValue)
	input(
		type="hidden"
		name=name
		value=initialValue
	)
